<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Blog</title>
    <link rel="stylesheet" media="screen" href="/css/blog.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/timeago.js"></script>
    <script type="text/javascript" src="/js/blog.js"></script>
</head>
<body>
    <div class="add-blog-container">
        <% if request.path_info == '/' %>
            <button onclick="window.location.href='/addBlog'">+ Create Blog</button>
        <% end %>
    </div>
    <div class="blog-container">
        <%= yield %>
    </div>
</body>
</html>